body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header-container {
    background-color: #1f2937;
}

h2 {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: 200px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
}

.header-container {
display: flex;
flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lower-header-title {
    font-size: 48px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 550px;
    font-weight: bolder;
}

.lower-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 70px 0px;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
}

.spongebob {
    width: 300px;
}

.header-button,
.lower-middle-button {
    flex-shrink: 0;
    padding: 4px;
    width: 96px;
    height: 30px;
    background-color: #3882f6;
    border-radius: 8px;
    color: #F9FAF8;
    border: none;
}

.lower-middle-button {
    border: 1px solid #F9FAF8;
}

.friends-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-top: 30px;
}

.friend-img {
    width: 160px;
    height: 150px;
    border-radius: 12px;
    border: solid #3882f6;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    text-align: center;
    width: auto;
    padding: 150px 175px;
}

.middle-section {
    display: flex;
    flex-direction: column;
}

.friend-cards {
    display: flex;
    justify-content: space-around;
    margin: 0px 100px;
    padding: 130px;
}

.cards {
    width: 250px;
    text-align: center;
}

.middle-section {
    margin-top: -75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up {
    background-color: #3882f6;
    border-radius: 5px;
    height: 60px;
    width: 800px;
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-around;
    margin: 80px 0px;
}

.sign-up-title {
    color: #F9FAF8;
    font-size: 22px;
}

.sign-up-info {
    color: #E5E7EB;
    font-size: 18px;
}

.footer {
    background-color: #1f2937;
    color: #E5E7EB;
    text-align: center;
    padding: 40px 0px;
}